
/* temp */
body {
    font-family: 'ubuntu', sans-serif;
    text-align: center;
}
form {
  display:inline-block;;
}

hr {
    border: 0;
    width: 35%;
    height: 3px;
    background: white;
    background-image: linear-gradient(to right, #18bc9c, #F8F9FA, #18bc9c);
}
.hr1 {
    border: 0;
    width: 35%;
    height: 3px;
    background: #18bc9c;
    background-image: linear-gradient(to right, #F8F9FA, #18bc9c, #F8F9FA);
}
.hr2 {
    border: 0;
    width: 35%;
    height: 3px;
    background: #18bc9c;
    background-image: linear-gradient(to right, #34495e, #18bc9c, #34495e);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat-Bold;
}
a {
  color: white;
}
a:hover{
  color: #18bc9c;
}
.container-fluid {
  padding: 5% 15% 3%;
}
/*SECTION COLOR'S*/
.colored-section {
  background-color: #18bc9c;
}

.white-section {
  background-color: #F8F9FA;
}
.footer-section {
  background-color:rgb(52, 73, 94);
  color:#F8F9FA;
}

/* NAVBAR */
/* #Navbar-Section */

.nav-bcolor{
  background-color: rgb(52, 73, 94);
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0.1rem;
  font-family: Ubuntu;
  font-size: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #18bc9c;
}

.navbar-light .navbar-nav .nav-link {
  color: #F8F9FA;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #18bc9c;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #18bc9c;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: #18bc9c;
}
.navbar-light .navbar-brand:focus {
  color: #18bc9c;
}


.navbar {
  padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
}
.nvfixed {
  left: 0;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}
.navbar-brand {
  padding: 0.1rem;
  font-family: Ubuntu;
  font-size: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
color: #18bc9c;
}


/* HEADINGS & Paragraphs */
.big-heading {
  color: #F8F9FA;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.white-section-heading{
  color: #18bc9c;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.section-heading {
  color: #F8F9FA;
  font-size: 2.2rem;
  font-weight: 600;
}

.sub-heading {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 1.6rem;
  color: #F8F9FA;
}

.section-paragraph {
  font-family: Montserrat;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 400;
  color: #F8F9FA;
}
.white-section-paragraph {
  letter-spacing: 1.3px;
  font-style: italic;
  font-family: Ubuntu;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 500;
  color:#2C3E50;
}
.footer-section-paragraph {
  letter-spacing: 1.3px;
  font-style: italic;
  font-family: Ubuntu;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 500;
  color:#18bc9c;
}
.copyright-paragraph {
  letter-spacing: 1.3px;
  font-style: italic;
  font-family: Ubuntu;
  line-height: 1.3;
  font-size: 0.65rem;
  font-weight: 500;
  color:#18bc9c;
}



/* #PROJECTS SECTION */

/* <---CARD's---> */
.buttons{
  padding: 10% 0 15%;
}

.card{

  margin: 5% 0;
  }
  .card-img-top{
  height: 250px;
  width: 100%;
}
.text{
  height: 140px;
}
 .card-header{
 padding:0;
 }
 .card-body{
   height: 250px;
 }
.card-title{
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 1rem;
    color: #18bc9c;
}
.card-text {
  text-align: left;
  font-family: Montserrat;
  line-height: 1.2;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.download1 {
  padding: 3px 20px;
  color: #212529;
  margin: 0 7px 10px;
  word-wrap: break-word;
}

.btn-outline-dark:hover {
  color: #f8f9fa;
  background-color: #18bc9c;
  border-color: #f8f9fa;
}

.btn-outline-dark {
  color: #f8f9fa;
  border-color: #2C3E50;
  background-color: #2C3E50;
}

.btn {
  border: 2px solid #2C3E50;
}
/* CAROUSEL SECTION */

.carousel-inner {
padding: 5% 15%;

}
/* FOOTER SECTION */
.footer-icon{
  margin:3% 2%
}
/*
OTHER */
.my-photo {
    height: 200px;
    margin-top: 30px;
}


.my-container {
    width: 100%;
}


@media (max-width: 1180px) {

  body {
    text-align: center;
  }
  .text{
    height: 160px;
  }
  .card {
    margin: 7% 20%;
    max-width: 60%;
    min-width: 240px;
  }
}


@media (max-width: 1180px) {

  body {
    text-align: center;
  }
  .text{
    height: 160px;
  }
  .card {
    margin: 7% 20%;
    max-width: 60%;
    min-width: 240px;
  }
}
@media (max-width: 1050px) {

  body {
    text-align: center;
  }
  .text{
    height: 160px;
  }
  .card {
    margin: 7% 20%;
    max-width: 60%;
    min-width: 300px;
  }
}